<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   <meta charset="utf-8" />

   @*Set the viewport width to device width for mobile *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Trellodoro: Trello + Pomodoro = Personal Kanban Bliss.">
	<meta name="keywords" content="trello, pomodoro, kanban, personal kanban, gtd, getting things done, timer, board">

   <title>@ViewBag.Title - Trellodoro</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="~/favicon.ico" rel="icon" type="image/x-icon">
	
	<link rel="apple-touch-icon" href="/Content/img/app_icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/Content/img/app_icon.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	@Styles.Render("~/Content/foundation/css")
	@Styles.Render("~/bundles/styles/trellodoro")

   @RenderSection("head", required: false)
   @Scripts.Render("~/bundles/modernizr")
</head>
	<body>

		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1>@Html.ActionLink("Home", "Index")</h1>
				</li>								

				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					@if(@Request.Url.AbsolutePath == "/")
					{
					<li class="has-dropdown">
						<a>Account</a>
						<ul class="dropdown">
							<li id="disconnectLink">
								<a id="disconnectTrello" href="#">Log Out</a>
							</li>
							<li id="connectLink">
								<a id="connectTrello" href="#">Log In</a>
							</li>
						</ul>
					</li>	
					}										
					

					<li class="has-dropdown">
						<a>Help</a>
						<ul class="dropdown">
							<li>@Html.ActionLink("About", "About")</li>
							<li>@Html.ActionLink("Support", "Support")</li>
							<li>@Html.ActionLink("Change Log", "ChangeLog")</li>
							<li><a onclick="ToggleTileOverlay()">WP8 Tile</a></li>
						</ul>
					</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li></li>
				</ul>
			</section>
		</nav>    

		@RenderBody()
		
		<div id="TileOverlay" onclick="ToggleTileOverlay()" style='background-color: Highlight; height: 100%; width: 100%; top: 0px; left: 0px; position: fixed; color: black; visibility: hidden'> 
		  <img src="/Content/img/app_tile.png" width="320" height="320" /> 
		  <div style='margin-top: 40px'> 
		     Tap the menu bar ('...') and then select "Pin to Start" to add your start screen.
		  </div> 
		</div>

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/foundation")
		@Scripts.Render("~/bundles/scripts/trellodoro")
		<script type="text/javascript" src="https://api.trello.com/1/client.js?key=ac00ed75ef9944a76a8dcfc81936a6eb"></script>
		<script>
			$(document).foundation();
		</script>
		@*Use the Scripts section to define page specific scripts*@
		@RenderSection("scripts", required: false)

		<!-- Begin Inspectlet Embed Code -->
		<script type="text/javascript" id="inspectletjs">
			window.__insp = window.__insp || [];
			__insp.push(['wid', 626846858]);
			(function() {
				function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
				if (window.attachEvent){
					window.attachEvent('onload', __ldinsp);
				}else{
					window.addEventListener('load', __ldinsp, false);
				}
			})();
		</script>
		<!-- End Inspectlet Embed Code -->
		
		<!-- Google Analytics -->
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-1694388-15', 'apphb.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>