<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Trellodoro</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	
	@Styles.Render("~/Content/foundation/css")
	@Styles.Render("~/bundles/styles/trellodoro")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
	<body>

		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1>@Html.ActionLink("Home", "Index")</h1>
				</li>								

				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">										
					<li class="has-dropdown">
						<a>Account</a>
						<ul class="dropdown">
							<li id="disconnectLink">
								<a id="disconnectTrello" href="#">Log Out</a>
							</li>
							<li id="connectLink">
								<a id="connectTrello" href="#">Log In</a>
							</li>
						</ul>
					</li>

					<li class="has-dropdown">
						<a>Help</a>
						<ul class="dropdown">
							<li>
								<a>About</a>
							</li>
							<li>
								<a>Support</a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li></li>
				</ul>
			</section>
		</nav>    

		@RenderBody()

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/foundation")
		@Scripts.Render("~/bundles/scripts/trellodoro")
		<script type="text/javascript" src="https://api.trello.com/1/client.js?key=ac00ed75ef9944a76a8dcfc81936a6eb"></script>
		<script>
			$(document).foundation();
		</script>
		@*Use the Scripts section to define page specific scripts*@
		@RenderSection("scripts", required: false)
	</body>
</html>